footer {
  background-color: var(--app-color);
  color: var(--title-color);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: var(--primary-color);
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}