header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--app-color);
    color: var(--title-color);
    padding: 20px;
    margin-bottom: 20px;
}

.logo h1 {
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.button {
    padding: 10px 15px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    margin-right: 200px;
    cursor: pointer;
}

.filters {
    display: flex;
    gap: 10px;
}

.filter {
    padding: 10px;
    border: none;
    border-radius: 5px;
}