<header>
    <div class="logo">
        <h1>Películas</h1>
    </div>
    <div class="search-container">
        <button class="button" routerLink="contacts" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Contactos</button>
        <input type="text" placeholder="Buscar películas..." class="search-input">
        <button class="button">Buscar</button>
    </div>
    <div class="filters">
        <select class="filter">
            <option value="">Todos los géneros</option>
            <option value="accion">Acción</option>
            <option value="comedia">Comedia</option>
            <option value="drama">Drama</option>
            <option value="terror">Terror</option>
        </select>
        <select class="filter">
            <option value="">Año</option>
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
        </select>
    </div>
</header>