:root {
    --background-color: gray;
    --item-color: #fff;
    --app-color: #282c34;
    --primary-color: #007bff;
    --secondary-color: #61dafb;
    --title-color: #fff;
    --text-color: #000000;
}